doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Members Only
  body 
    header 
    if isLogedIn
      a(href="/logout") Logout
    if !isLogenIn
      a(href="/login") Login
    main 
      h1 Home